.contextPanel
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 1000000000;
}

.contextPanel .content-panel
{
	position: absolute;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: solid 2px rgb(70, 70, 70);
	background-color: rgb(40, 40, 40);
	box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.9);
}
