.inputFile
{
	position: relative;
	cursor: pointer;
	
	display: inline-block;
	
	height: 30px;
	min-width: 100px;
	margin: 5px;
	-webkit-appearance: none;
	font-size: 1.0rem;
	color: rgb(255, 255, 255);
	background-color: rgb(34, 145, 167);
	background-image: none;
	border: solid rgb(34, 145, 167) 2px;
	border-radius: 5px;
	
	white-space: nowrap;
	overflow: hidden;
}

.inputFile *
{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.inputFile .input
{
	position: relative;
	display: inline-block;
}

.inputFile .hidden-input { display: none; }

.inputFile .mask
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgb(34, 145, 167);
	text-align: left;
	cursor: pointer;
	/*padding: 6px;*/
	padding-left: 6px;
}

.inputFile .mask *
{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.inputFile .preview
{
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
}

.inputFile .preview img
{
	border-radius: 2px;
	position: relative;
	top: -1px;
}

.inputFile .iframe { display: none; }