.grid2
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.grid2 .topPanel, .grid2 .bottomPanel
{
	position: absolute;
	left: 0px;
	right: 0px;
}

.grid2 .topPanel
{
	top: 0px;
	bottom: 50%;
}

.grid2 .bottomPanel
{
	top: 50%;
	bottom: 0px;
}
